body {
	color: #0000FF;
	background-color: #EEEEEE;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: normal;
}
p {
	text-align: left;
	font-family: "Helvetica", "Arial", sans-serif;
	padding: 20px 10px 20px 10px;
}
.Name {
	padding-bottom: 50px;
	font-weight: bold;
	font-family: fantasy;
}
.projects {
	list-style-position: inside;
	list-style-type: decimal;
}
.link-bar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
.link-bar-li {
	float: left;
}
.bar-text {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
