body {
	color: #0000FF;
	background-color: #EEEEEE;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: normal;
}
p {
	text-align: left;
	font-family: "Helvetica", "Arial", sans-serif;
	padding: 20px 10px 20px 10px;
}
.Name {
	text-align: center;
	font-weight: bold;
}
.projects {
	list-style-position: inside;
	list-style-type: decimal;
}
.link-bar {
	position: fixed;
	top: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
}
.link-bar-li {
	float: left;
}
.bar-text {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
}
